body {
  font-family: 'Dosis', sans-serif;
  background-color: #f49e4c;
}
.customer-profile {
  text-align: center;
}
.customer-info {
  display: inline-block;
  text-align: center;
  color: #f5ee9e;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  border-radius: 5px;
  height: 300px;
  width: 600px;
  background-color: #3b8ea5;
}
.customer-subscription-info {
  display: inline-block;
  text-align: center;
  color: #f5ee9e;
  border-style: solid;
  border-width: 1px;
  border-color: darkgray;
  border-radius: 5px;
  height: 500px;
  width: 600px;
  background-color: #3b8ea5;
}
a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  border-radius: 10px;
  height: 30px;
}

#business_avatar {
  height: 150px;
  width: 200px;
}
#supportings {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#customer_avatar {
  height: 150px;
  width: 200px;
}
#customer_info_seperate {
  height: 20px;
}
