* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#app_component {
  text-align: center;
}

body {
  color: #2f4858;
  background-color: #f5f5f5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.description {
  font-weight: 200px;
}

#navbar {
  height: 75px;
}

#navbar nav {
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.25);
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar nav .navbar {
  text-align: center;
}

#navbar nav .navbar ul {
  list-style-type: none;
}

#navbar nav .navbar ul li {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar nav .navbar ul li a {
  font-size: 16px;
  font-weight: 0;
}

hr {
  border-width: 0;
}

#business_card {
  padding: 5px 5px 5px;
  width: 50%;
  height: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: center;
  margin: 15px 0;
  -webkit-box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  background-color: #f0f0f0;
}

#category_filter {
  margin: 35px;
  padding: 20px;
}

input {
  -webkit-box-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--black-700);
  padding: 0;
  border-style: solid;
  border: 1;
  border-width: thin;
  border-color: darkgrey;
  text-align: center;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

label {
  display: block;
  border-radius: 5px;
}

button {
  border-radius: 10px;
  height: 30px;
  padding: 0;
  border: none;
  background: none;
}

#business_portal {
  text-align: center;
}

#business_portal #business_profile {
  padding-top: 30px;
}

#business_portal #business_profile .business_profile {
  display: inline-block;
  border-style: solid;
  width: 400px;
  background-color: #f49e4c;
  border-radius: 5px;
  border-color: #2f4858;
  text-align: center;
}

#business_portal #business_profile .business_profile img {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-radius: 100px;
  border-color: #2f4858;
  text-align: center;
}

#business_portal #business_profile img {
  height: 130px;
  width: 1000px;
  text-align: center;
}

#business_portal #business_tier {
  background-color: #f49e4c;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  border-width: 5px;
  height: 500px;
  width: 800px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #f5ee9e;
  border-style: solid;
  border-color: #f5ee9e;
}

#business_portal #business_tier .business_tier {
  display: inline-block;
  text-align: center;
}

#business_portal #business_tier .business_tier #single_tier {
  background-color: #2f4858;
  width: 150px;
  height: 300px;
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  border-color: #f49e4c;
  border-style: solid;
}

#business_portal #business_tier .business_tier #single_tier img {
  height: 100px;
  width: 100px;
}

.customer-profile {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 15px;
}

.navlink {
  text-decoration: none;
  color: black;
}

.content {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 15px;
}

#business_avatar {
  width: 50%;
  height: 50%;
  margin: 15px 0;
}

.customer-info {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 80%;
  flex: 1 1 80%;
  margin: 15px 0;
  -webkit-box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.customer-subscription-info {
  padding: 5px 5px 5px;
  width: 50%;
  height: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  text-align: center;
  margin: 15px 0;
  -webkit-box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

h1 {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.2;
}

#customer_avatar {
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#single_business text-align:center #business_page {
  background-color: #2f4858;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border-width: 5px;
  width: auto;
  border-color: #f49e4c;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #f5ee9e;
}

#single_business text-align:center #business_page div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#single_business text-align:center #business_page #business_profile_header {
  height: 300px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#single_business text-align:center #business_page #business_profile_avatar {
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#single_business text-align:center #business_page #business_tier {
  background-color: #f49e4c;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  border-width: 5px;
  height: 500px;
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #f5ee9e;
  border-style: solid;
  border-color: #f5ee9e;
}

#search_bar {
  text-align: start;
  margin: 10px;
  border-radius: 2px;
}

#search_bar div {
  height: 0.5px;
}

#business_card_container {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#business_card_container #business_card img {
  width: 200px;
  border-style: solid;
  border-color: #f49e4c;
}

div#business_tier_containter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#single_business {
  text-align: center;
}

input {
  height: 30px;
  border-radius: 30px;
  color: #002729;
}

div#update_tier_button {
  display: inline;
}

div .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search_bar {
  position: absolute;
  left: 85%;
  top: 30%;
  margin: auto;
}

.signup {
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 400px;
}

.signup div {
  display: inline-block;
}

.signup form {
  background: #ff5a5f;
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.signup form button {
  margin: 20px;
}

.signup form input {
  width: 90%;
  padding: 15px;
  margin: 30px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  background: white;
}

form {
  height: auto;
}

#homepage h2 {
  font-size: 340%;
  font-weight: bold;
  color: black;
  opacity: 100%;
  margin-top: 0;
}

#homepage #image {
  background: url('/krisztina-papp-VRnb4dMwmBQ-unsplash.jpg') no-repeat center
    right/cover;
  height: 100vh;
  color: #fff;
  opacity: 50%;
}

#homepage #civitas_description {
  margin-top: 0;
  background-color: #2a4551;
  margin-bottom: 5%;
  color: white;
  padding-bottom: 10%;
}

#homepage #civitas_description h2 {
  color: white;
}

#homepage #customer_description {
  margin-top: 0;
  margin-bottom: 5%;
}

#homepage #local_business {
  padding-bottom: 10%;
  margin-top: 0;
  background-color: #2a4551;
  margin-bottom: 5%;
  color: white;
}

#homepage #local_business h2 {
  color: white;
}
/*# sourceMappingURL=main.css.map */
