$body-color: #2f4858;
$body-background-color: #f5f5f5;
$background-color: #f0f0f0;
$boxes-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.25);

* {
  box-sizing: border-box;
}
#app_component {
  text-align: center;
}
body {
  color: $body-color;
  background-color: $body-background-color;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

// .description {
//   font-weight: 200px;
// }

#navbar {
  height: 75px;
  nav {
    background-color: $body-background-color;
    box-shadow: $boxes-shadow;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    font-weight: 100;
    .navbar {
      text-align: center;
      ul {
        list-style-type: none;
        li {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
          a {
            font-size: 16px;
            font-weight: 0;
          }
        }
      }
    }
  }
}

hr {
  border-width: 0;
}
#all_businesses {
  display: flex;
  flex-direction: column;
  #business_card {
    padding: 5px 5px 5px;
    width: 50%;
    height: 50%;
    flex: 1 1 50%;
    text-align: center;
    margin: 15px 0;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
    background-color: $background-color;
    // float: right;
    // display: flex;
    h4 {
      font-weight: 100;
    }
  }
}

#category_filter {
  margin: 35px;
  padding: 20px;
}

input {
  box-shadow: $boxes-shadow;
  background-color: var(--white);
  height: 30px;
  color: #002729;
  color: var(--black-700);
  padding: 0;
  border-style: solid;
  border: 1;
  border-width: thin;
  border-color: darkgrey;
  text-align: center;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

label {
  display: block;
  border-radius: 5px;
}

button {
  border-radius: 10px;
  height: 30px;
  padding: 0;
  border: none;
  background: none;
}
#business_portal {
  text-align: center;
  #business_profile {
    padding-top: 30px;
    .business_profile {
      display: inline-block;
      border-style: solid;
      width: 400px;
      background-color: #f49e4c;
      border-radius: 5px;
      border-color: #2f4858;
      text-align: center;
      img {
        height: 100px;
        width: 100px;
        border-style: solid;
        border-radius: 100px;
        border-color: #2f4858;
        text-align: center;
      }
    }
    img {
      height: 130px;
      width: 1000px;
      text-align: center;
    }
  }
  #business_tier {
    background-color: #f49e4c;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    border-width: 5px;
    height: 500px;
    width: 800px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #f5ee9e;
    border-style: solid;
    border-color: #f5ee9e;

    .business_tier {
      display: inline-block;
      text-align: center;

      #single_tier {
        background-color: #2f4858;
        width: 150px;
        height: 300px;
        display: inline-block;
        border-radius: 10px;
        margin: 10px;
        border-color: #f49e4c;
        border-style: solid;

        img {
          height: 100px;
          width: 100px;
        }
      }
    }
  }
}

.customer-profile {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 15px;
}

.navlink {
  text-decoration: none;
  color: black;
}

.content {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 15px;
}

#business_avatar {
  width: 50%;
  height: 50%;
  margin: 15px 0;
}

.customer-info {
  text-align: center;
  flex: 1 1 80%;
  margin: 15px 0;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}
.customer-subscription-info {
  padding: 5px 5px 5px;
  width: 50%;
  height: 50%;
  flex: 1 1 50%;
  text-align: center;
  margin: 15px 0;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
}
h1 {
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.2;
}

#customer_avatar {
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#single_business {
  text-align:center #business_page {
    background-color: #2f4858;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    border-width: 5px;
    width: auto;
    border-color: #f49e4c;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #f5ee9e;
    div {
      display: flex;
    }
    #business_profile_header {
      height: 300px;
      width: 400px;
      display: flex;
    }
    #business_profile_avatar {
      height: 100px;
      width: 100px;
      display: flex;
    }

    #business_tier {
      background-color: #f49e4c;
      display: inline-block;
      text-align: center;
      border-radius: 10px;
      border-width: 5px;
      height: 500px;
      width: 300px;
      padding: 5px;
      margin-bottom: 10px;
      margin-left: 10px;
      color: #f5ee9e;
      border-style: solid;
      border-color: #f5ee9e;
    }
  }
}
#search_bar {
  text-align: start;
  margin: 10px;

  border-radius: 2px;
  div {
    height: 0.5px;
  }
}
#business_card_container {
  display: block;
  box-sizing: border-box;
  #category_filter {
  }
  #business_card {
    img {
      width: 200px;
      border-style: solid;
      border-color: #f49e4c;
    }
  }
}

div#business_tier_containter {
  display: flex;
}

div#single_business {
  text-align: center;
}

div#homepage {
  text-align: center;
  height: 1000px;
  width: 1000px;
}

div#update_tier_button {
  display: inline;
}
div {
  .links {
    display: flex;
  }
}
#search_bar {
  position: absolute;
  left: 85%;
  top: 30%;
  margin: auto;
  // background-image: url('searchicon.png');
}

.signup {
  // width: auto;
  //display: inline-block;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 400px; // height: auto;

  form {
    background: #221b20;
    padding: 40px;
    // max-width: auto;
    // max-height: auto;
    width: 40%;
    // height: 70%;

    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(grey, 0.3);
    h3 {
      color: white;
    }
    textarea {
      height: 100px;
      width: 200px;
    }

    button {
      margin: 20px;
      color: white;
    }
    input {
      width: 70%;
      padding: 15px;
      margin: 15px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
      background: white;
    }
  }
}
form {
  height: auto;
  //width: 50%;
}

#create_tier {
  form {
    background-color: #221b20;
    h4 {
      font-weight: bold;
    }
    .single_tier {
      background-color: white;
      width: 55%;
      border-radius: 10px;
      display: inline-block;
      margin: 20px;
      padding: 10px;
      input {
        margin: 10px;
        padding: 20px;
        background-color: white;
      }

      button {
      }
    }
  }
}

#button_signup {
  display: inline-block;
  height: 50%;
  width: 70%;
  button {
    margin: 30px;
    padding: 20px;
    width: 20%;
    height: 40%;
    background-color: #221b20;
    color: white;
  }
}
#google_map {
  font-weight: 100;
}
#business_map {
  float: right;
}
