$body-color: #ff5a5f;
$body-background-color: #f5f5f5;
$background-color: #fc642d;
$boxes-shadow: 0 6px 6px -5px rgba(0, 0, 0, 0.25);
body {
  color: $body-color;
  background-color: $body-background-color;
  box-sizing: border-box;
  margin: 0;
}

nav {
  background-color: $body-background-color;
  padding-left: 80px !important;
  padding-right: 80px !important;
  padding-bottom: 20px !important;
  flex: 1 1 auto !important;
  min-width: 0px !important;
  padding: 0 24px !important;
  text-align: center !important;
}

div {
  nav {
    box-shadow: $boxes-shadow;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
  }
}
hr {
  border-width: 0;
}
div {
  #business_card {
    display: flex !important;
    box-shadow: -6px 6px 6px -5px rgba(0, 0, 0, 0.25);
    margin: 40px;
  }
}
div {
  #category_filter {
    margin: 35px;
    padding: 20px;
  }
}
input {
  box-shadow: $boxes-shadow;
  background-color: var(--white);
  box-shadow: none;
  color: var(--black-700);
  padding: 0;
  border-style: solid;
  border: 1;
  border-width: thin;
  border-color: darkgrey;
  text-align: center;
}
div {
  #nav_bar {
    display: flex;
  }
}

div {
  #links {
    text-align: end;
    padding-left: 675px;
  }
}

div {
  text-align: center;
  #auth_form {
    width: auto;
    height: auto;
    max-height: 800px;
    max-width: 500px;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgrey;
    margin-left: 400px;
    margin-top: 200px;
    box-shadow: -4px 4px 6px -6px rgba(0, 0, 0, 0.25);
    background-color: #00173d;
  }
  button {
    background-color: #fff;
    margin: 100px;
    width: 200px;
    height: 30px;
  }
}

div {
  #form {
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 72px 55px 90px 55px;

    margin-top: 100px;
    display: inline-block;
    background-color: $body-background-color;
  }
  body {
    background-color: $body-color;
  }
  h2 {
    display: block;

    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 5px;
  }
  form {
    // margin-top: 10px;
    width: 200px;
    height: 300px;
    display: inherit;

    input {
      border-style: hidden;
      color: black;
      height: 35px;
      background-color: $body-background-color;
    }
    button {
      margin: auto;
      border-style: hidden;
      box-shadow: $boxes-shadow;
    }
  }
}
div {
  .form_input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
  }
}
